opentelemetry-api==1.7.1
opentelemetry-sdk==1.7.1
opentelemetry-instrumentation-fastapi==0.26b1
opentelemetry-exporter-jaeger==1.7.1
opentelemetry-instrumentation-requests==0.26b1
opentelemetry-exporter-otlp==1.8.0
opentelemetry-instrumentation==0.41b0
opentelemetry-semantic-conventions==0.26b1

requests~=2.27.1
fastapi~=0.74.1

pyyaml
